/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET*/



body{
	padding: 0;
	margin: 0;
	background-color: white;
	width: 100%;


}




/* Logo at top of every page */



/* Cover Photos */

#coverphotos{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	top:65px;
	height: 50%;
	padding-bottom: 2%;

}

#coverphotos a img{

	
	display: inline-block;
	margin:-2px;
	max-width: 33.3%;

}

#coverphotos img{
	opacity: 0.8;
}

#coverphotos img:hover{
	opacity: 1.0;


}



/* Feed Posts */

#feedcoverphotos{
	
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	top:65px;
	height: 50%;
	padding-bottom: 2%;
}

.instagram-media{
	width: 100%;
}

.instagram-media a{
	height:282px;
}

.post{

display: inline-block;
	margin-left:25px;
	margin-right:25px;
	margin-bottom: 20px;
	min-width: 43%;

}


/*
.post h1{
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
	font-size: 1em;
	font-weight: lighter;
	font-family: helvetica;

}

.post h2{
	padding-left: 20px;
	text-align: left;
	font-size: 1em;
	font-weight: lighter;
	font-family: helvetica;
}

.post h5{
	padding-left: 20px;
	padding-top: 10px;
	text-align: left;
	font-size: 1em;
	font-weight: lighter;
	font-family: helvetica;
}
*/

/* Footer all pages */

footer{
	bottom:0;
	clear: both;
	
	padding-top: .5%;
	padding-bottom: .5%;
	color: black;
	font-family: helvetica;
	font-size: .8em;
	background-color: white;
	width:100%;
	position:fixed;


}

footer p{
	position: relative;
	left:5%;
	clear: both;
	display: inline-block;
	
}







/************Start Work pages **************/

/*header*/



.header{
	z-index: 100;
	position:fixed;
	width: 100%;
	height: 65px;
	background-color: white;
}

header h1{
	float:left;
	margin-left: 5%;
	margin-top: 20px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: helvetica;
	width: 20%;
}

/* Header Nav */


.main_nav{
	margin-left: 0%;
	margin-top: 24px;
	float: left;

}

.main_nav ul li{
	float: left;
	padding-right: 53px;

}



.main_nav ul li a{
	font-size: 1.1em;
	font-family: helvetica;
	color:black;
	text-decoration: none;
}

.main_nav ul li a:hover{
	color:rgb(140, 140, 140);

}




/* headings to articles */
h3{
	font-size: 2em;
	font-family: helvetica;
	color: black;
}


h4 span{
	font-style: italic;
}
h4{
	font-size: 1.2em;
	font-family: helvetica;
	color: black;
}








/* Text on Work pages */




.otherwork aside nav li a {
	font-family: helvetica;
	font-size: .78em;
	line-height: 140%;
	text-decoration: none;

	font-style: italic;

	

}

.otherwork aside h4{
	font-size: 1em;
	font-weight: bold;
	padding: 25px 0px 10px 0px;

}

.otherwork  h4{
	font-size: 1em;
	font-weight: bold;
	padding: 50px 0px 10px 0px;

}

.work_images h4{
	font-size: 1em;
	font-weight: bold;
	padding: 30px 0px 0px 0px;
	margin-bottom: -20px;
}

.otherwork aside nav li a:hover{
	color:rgb(140, 140, 140);


}

.otherwork aside nav ul{
	display: block;
	height: 366px;
	overflow: scroll;
}

.otherwork a:hover{
	color:rgb(140, 140, 140);


}

.otherwork a{
	font-family: helvetica;
	font-size: .78em;
	line-height: 140%;
	text-decoration: none;
	color:black;
	font-style: italic;
	padding-top: 0px;
}

.selected{
	font-weight:bold;
	
}



.info p{

	font-size: .78em;
	font-family: helvetica;
	line-height: 140%;
	color:black;
}

.info h4 {
	font-size: 1em;
	font-weight: bold;
	padding: 0px 0px 10px 0px;

}




.mainarticle h4{
	font-size: 1em;
	font-weight: bold;
	padding: 0px 0px 10px 0px;

}

.mainarticle p{
	font-size: .9em;
	color: black;
	font-family: helvetica;
	line-height: 140%;
}

.mainarticle p span{
	font-style: italic;
	}

.mainarticle p a{
	text-decoration: none;
	color: black;
	font-style: italic;

}

.mainarticle p a:hover{
	color:rgb(140, 140, 140);
}

.work_images img{
	max-width: 100%;
	margin-top: 40px;
}

.work_images{

	max-width: 100%;
	padding-bottom: 10%;	

}

iframe{
	padding-top: 3%;
	max-width:100%;
	max-height: 100%;

}






/* floating sections of work pages */
.section_float1{
	float: left;
	width: 15%;
	padding:1%;
	position: fixed;
	height: 25%;
	left:4%;
	top:65px;

}

.section_float2{
	float: left;
	width: 65%;
	padding-top:80px;
	padding-left:30%;
	height: 26%;
}

.section_float{
	
	float:left;
	width:65%;
	padding-left: 30%;
}

.section_float p{
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
}

.section_float h1{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: helvetica;
	font-size: .9em;
	text-align: center;
	line-height: 140%;
	
}

.section_float h2{
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
}


/*about page*/

.section_float3{
	float: left;
	width: 17%;
	padding:1%;
	position: fixed;
	height: 25%;
	left:4%;
	top:65px;

}

.section_float4{
	float: left;
	width: 27%;
	padding:1%;
	position: fixed;
	left:24%;
	height: 26%;
	top:65px;
}


.section_float5{
	float:right;
	width:30%;
	padding-top: 70px;
	padding-right: 10%;
}


.info2 p{

	font-size: .78em;
	font-family: helvetica;
	line-height: 140%;
	color:black;
}

.info2 p a{
	color:black;
	text-decoration: none;
}

.info2 p a:hover{
	color:rgb(140, 140, 140);
}

.info2 h4 {
	font-family: helvetica;
	font-size: .9em;
	font-weight: bold;
	padding: 0% 0% 5% 0%;

}

.findme a {
	font-family: helvetica;
	font-size: .78em;
	line-height: 140%;
	text-decoration: none;
	color:black;
	

}

.findme h4{
	font-size: .9em;
	font-weight: bold;
	padding: 23% 0% 5% 0%;
}

.findme a:hover{
	color:rgb(140, 140, 140);
}

/*****************   media queries   *************************/


@media screen and (max-width:1450px) {

.section_float2{
float: none;

}

.section_float5{
	padding-top: 88px;
}

.header{
	z-index: 100;
	position:fixed;
	width: 100%;
	height: 65px;
	background-color: white;

}

header h1{
	position:relative;
	margin-left: 0;
	left:5%;
	margin-top: 20px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: helvetica;
	width: 20%;
}

.main_nav{
	margin-left: 30%;
	margin-top: -34px;
	width: 100%;
	height:65px;
	clear:both;
}

.main_nav ul li{
	
	position:relative;
	height:20px;
	top:15px;

}

.main_nav ul li a:hover{
	color:rgb(140, 140, 140);

}

#coverphotos{
	top:65px;
}
}


@media screen and (max-width:1390px) {

header h1{
	width:90%;
}
header {
	width:100%;
}

footer{
	left:0%;
}

.section_float2{
float: none;

}

/*****************   media queries   *************************/
@media screen and (max-width:1250px) {

.main_nav{
	margin-left: 0px;
}

.section_float2{
	padding-left:26%;

}

.section_float{
	padding-left: 26%;
}

.main_nav ul li {
padding-right: 53px;
}

header h1 {
	font-size:1.25em;
}

.main_nav{
	padding-left: 30%;
}

.section_float{
	float: none;
	padding-left: 30%;
} 

.section_float2{
float: none;
padding-left: 30%;

}

}


@media screen and (max-width:1180px) {

/* Cover Photos */

.otherwork  h4{
	font-size: 1em;
	font-weight: bold;
	padding: 5% 0% 1% 0%;

}

.header {
	width:100%;


}

.moveover{

}

header h1{
	width:90%;
}


#coverphotos a img{

	max-width: 33.3%;
}

#coverphotos{
	top:65px;
}




.section_float1{
	width: 20%;
	padding:1%;
	position: fixed;

}
.otherwork{
	padding-top: 5px;
}

.otherwork aside h4{
	padding: 25px 0px 10px 0px;
	font-weight: bold;
}



.mainarticle h4{
	padding: 0px 0px 10px 0px;
}





.section_float3{
	width: 85%;
	padding:1%;
	position: relative;
	left:6%;

}

.section_float4{
	width: 85%;
	padding:1%;
	position: relative;
	left:6%;
	height: 26%;
	top:120px;
}


.section_float5{
	float:right;
	width:85%;
	padding-top: 130px;
	padding-right: 8%;
}


.info2 p{

	font-size: .78em;
	font-family: helvetica;
	line-height: 140%;
	color:black;
}

.info2 p a{
	color:black;
	text-decoration: none;
}

.info2 p a:hover{
	color:rgb(140, 140, 140);
}

.info2 h4 {
	font-family: helvetica;
	font-size: .9em;
	font-weight: bold;
	padding: 0% 0% 2% 0%;

}

.findme a {
	font-family: helvetica;
	font-size: .78em;
	line-height: 140%;
	text-decoration: none;
	color:black;
	

}

.findme h4{
	font-size: .9em;
	font-weight: bold;
	padding: 5% 0% 2% 0%;
}

.findme a:hover{
	color:rgb(140, 140, 140);
}



}





@media screen and (max-width:1190px) {
.section_float{

}

.section_float2{

	width:700px;
}


@media screen and (max-width:1140px) {
#coverphotos a img{

	max-width: 50%;
}

header h1{
	width:100%;
}


header {
	width:100%;
}


.post{

	min-width: 50%;

}

.instagram-media{
	width: 100%;
}

/*****************   media queries   *************************/
@media screen and (max-width:1040px) {

.main_nav{
	margin-left: 0px;
	padding-left: 35%;
}

.section_float2{
width: 60%;
padding-left: 35%;
}

.section_float{
width: 60%;
padding-left: 35%;
}


header h1{
	width:90%;
}


header{
	width:100%;
}

/* Cover Photos */

#coverphotos a img{

	max-width: 50%;
}



.otherwork a{
	font-family: helvetica;
	font-size: 1em;
	line-height: 140%;
	text-decoration: none;
	color:black;
	font-style: italic;
}

/*****************   media queries   *************************/
@media screen and (max-width:900px) {


.mainarticle p{
	font-size: .9em;
}


.main_nav{
	margin-left: 0px;
	padding-left: 50%;
}

.section_float1{
	visibility: hidden;
}

.section_float2{
width: 90%;
padding-left: 5%;
}

.section_float{
width: 90%;
padding-left: 5%;
}

.main_nav ul li{
	text-align: center;
	padding-right: 30px;
}

.post{

	min-width: 50%;

}



}



/*****************   media queries   *************************/
@media screen and (max-width:630px) {

.main_nav{
	padding-left: 5%;
	margin-left: 0%;
	margin-top: -3px;
	width: 100%;
	clear:both;
}

.header{
	height: 85px;
}

#coverphotos{
	top:85px;
}

.section_float2{
	padding-top:105px;
}

}


/* end of all wooooo */









